body{
    background-color: aqua;
}
label{
    display: inline-block;
    width: 90px;
}
.grupo-form{
    margin-top: 5px;
}
input[type="text"]{/* formata somente inputs do tipo text */
    border: 1px solid #f00;
}
input[type="submit"]{/* formata somente inputs do tipo submit */
    background-color: #f00;
    border: 0px; /* sem borda*/
    padding: 5px; /* margin interna */
    color: #fff; /* cor da font */
    border-radius: 6px; /* arredonda as bordas */

}
textarea{
    border: 1px solid #f00;
}